.modal {
  position: relative;
  background-color: var(--main-text-color);
  color: var(--second-text-color);
  max-width: 950px;
  padding: 60px 85px;
  border: 1px solid var(--second-text-color);
  border-radius: 14px;
  width: 100%;
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  /* неправильно стоит крестик */
  background-color: transparent;
  color: var(--main-bg-color);
  border: none;
  transition: color 0.3s ease-in;
}
.modal__close:hover {
  color: var(--second-text-color);
}
.modal__close:focus {
  color: var(--second-text-color);
  outline: 1px solid var(--second-text-color);
}
.modal__close:active {
  color: var(--trigger-btn-color);
}
.modal__title {
  margin-bottom: 50px;
  color: var(--main-bg-color);
  font-family: "Arial";
  font-weight: 700;
  font-size: 26px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.04em;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  display: block;
  position: relative;
}
.modal__label-text {
  position: absolute;
  top: 12px;
  left: 15px;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.04em;
}
.modal__input {
  width: 100%;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.04em;
  padding: 45px 15px 31px;
  border: 1px solid var(--second-bg-color);
  border-radius: 12px;
  margin-bottom: 20px;
}
.modal__label_last {
  margin-bottom: 60px;
}
.modal__button {
  padding: 14px 36px;
  background: var(--trigger-btn-color);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  align-self: flex-end;
  border: none;
}
.modal__button:hover,
.modal__button:active {
  background: var(--main-bg-color);
}
.modal__button:focus {
  outline: 1px solid var(--second-text-color);
}

@media (max-width: 1200px) {
  .modal {
    padding: 50px 100px;
    min-width: 746px;
  }
  .modal__title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .modal__label_last {
    margin-bottom: 40px;
  }
  .modal__button {
    padding: 12px 30px;
    border-radius: 8px;
  }
}

@media (max-width: 1000px) {
  .modal {
    padding: 40px 80px;
    min-width: 600px;
  }
  .modal__title {
    font-size: 22px;
  }
  .modal__label {
    margin-bottom: 15px;
  }
  .modal__label-text {
    font-size: 14px;
  }
  .modal__label_last {
    margin-bottom: 40px;
  }
  .modal__input {
    padding-bottom: 20px;
  }
  .modal__button {
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .modal {
    padding: 30px 15px;
  }
  .modal__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .modal__label-text {
    font-size: 12px;
  }
  .modal__label_last {
    margin-bottom: 15px;
  }
  .modal__input {
    font-size: 12px;
    padding: 38px 10px 16px;
  }
  .modal__button {
    padding: 5px 14px;
    font-size: 12px;
  }
}
